---
title: Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

The Anypoint Platform Service Brokers for PCF enables organisations to design, develop, deploy, manage and operate APIs, connectivity apps and microservices within the fully automated and transparent infrastructure provided by PCF. The different deployment scenarios that Runtime Manager supports are described in detail here: [Deployment Strategies](https://docs.mulesoft.com/runtime-manager/deployment-strategies).


## <a id='overview'></a>Overview

The Anypoint Platform On-Premises Edition includes the following functionalities:

* [Runtime Manager](https://docs.mulesoft.com/runtime-manager/), which lets you keep track of your deployed Mule applications
* [API Manager](https://docs.mulesoft.com/api-manager/), which lets you keep track of your registered APIs
* [Anypoint Exchange](https://docs.mulesoft.com/mule-fundamentals/v/3.8/anypoint-exchange), where your organization can share various kinds of assets that can be reused throughout your integrations

Anypoint Platform Service Brokers for PCF integrates PCF to the Anypoint Platform On-premises Edition. It includes the following features:

* Deploy Mule applications to PCF via the Runtime Manager UI as one more deployment target. See [Deployment Strategies](https://docs.mulesoft.com/runtime-manager/deployment-strategies). This is mediated through the *Runtime Manager service broker*.
* Automatically create and deploy a Mule proxy application to PCF, which intercepts traffic to a non-Mule application, allowing you to apply policies over it and view usage metrics. See [Deploy a Proxy](https://docs.mulesoft.com/api-manager/setting-up-an-api-proxy). This is mediated through the *API Gateway Manager service broker*.


## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Current Anypoint Platform Service Brokers for PCF Details:</dt>
<dd><strong>Version</strong>: 1.5.0-beta </dd>
<dd><strong>Release Date</strong>: October 14, 2016</dd>
<dd><strong>Software component version</strong>: Anypoint Platform On-premises Edition 1.5</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7.x</dd>
<dd><strong>vSphere support?</strong> YES-OR-NO</dd>
<dd><strong>OpenStack support?</strong> YES-OR-NO</dd>
<dd><strong>AWS support?</strong> YES-OR-NO</dd>
</dl>

## <a id="reqs"></a>Requirements


Before you can begin the steps detailed in this document, you must have the following software installed in your servers:

* PCF Apps Manager 1.7.x or above
* PCF Ops Manager 1.7.x or above
* Cloud Foundry CLI
* Python 2.x or above
* Anypoint Platform On-Premises Edition
* The default Java buildpack that PCF provides

**Note:** Your Anypoint Platform and PCF installations must both be on the same network in order for them to be able to communicate with each other.

After following the steps in this document, you must also:
* Install the Mule Runtime BuildPack
* Run the Space Configuration Tool

**Note:** See [MuleSoft documentation]() for details on how to carry out these steps.


## <a id="limitations"></a>Limitations

Each instance of the PCF Tile is linked to one PCF cluster, and every instance of the Space Configuration Tool is linked to one PCF space. Therefore, if you wish to manage multiple PCF spaces or multiple PCF clusters, you must also perform multiple installations of the Anypoint Platform Service Brokers for PCF and the Space Configuration Tool to match these.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [MuleSoft support](support@mulesoft.com).

## <a id='license'></a>License

The product is based upon Anypoint Platform On-premises Edition, so a license specifically for this version of the product is required. Contact [MuleSoft sales](sales@mulesoft.com).

To Generate a *runtime license digest* using MuleSoft License Verifier service, you must do the following:

1. On a web browser, go to https://mulelicenseverifier.cloudhub.io
1. Upload your MuleSoft Runtime license `.lic` file, obtained through the Customer Onboarding process
1 .Click the **Verify** button
1. Download the digested license by clicking the Download digested license (muleLicenseKey.lic) link
1. When [Configuring the *Anypoint Platform Service Brokers for PCF* Tile](installing.html), you’ll have to paste the contents of the `muleLicenseKey.lic` file on the `MULE_LICENCE` field.
