---
title: Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

This documentation describes the Mulesoft Anypoint Platform Service Brokers tile for Pivotal Cloud Foundry (PCF).

## <a id="overview"></a> Overview

The Anypoint Platform Service Brokers for PCF connect apps running on PCF to the [Anypoint Platform](https://www.mulesoft.com/platform/enterprise-integration) On-Premises Edition, a lightweight enterprise service bus (ESB) and integration platform that connects applications together quickly and easily. 

The tile includes two service brokers, the **Runtime Manager Service Broker** and the **API Gateway Manager Service Broker**. The Anypoint Platform for PCF, which includes the two service brokers of the Anypoint Platform On-Premises Edition, enables organizations to design, develop, deploy, manage and operate APIs, connectivity apps and microservices within PCF.

## <a id="features"></a> Key Features

* Integrates PCF with Anypoint's [Runtime Manager](https://docs.mulesoft.com/runtime-manager/) to track and manage Mule apps deployed to PCF.

* Mediates between PCF and the Anypoint [API Manager](https://docs.mulesoft.com/api-manager/) to track and manage registered APIs.

* Includes [Anypoint Exchange](https://docs.mulesoft.com/mule-fundamentals/v/3.8/anypoint-exchange), where your organization can discover and share assets for use and reuse throughout your integrations.

### <a id="rmsb"></a> Runtime Manager Service Broker

The **Runtime Manager Service Broker** exposes PCF as a deployment target within the Anypoint Runtime Manager and lets you deploy Mule applications to PCF, alongside other deployment targets. See [Deployment Strategies](https://docs.mulesoft.com/runtime-manager/deployment-strategies) for example scenarios where Mule apps deploy to cloud or local-environment targets.

### <a id="apigsb"></a> API Gateway Manager Service Broker

The API Gateway Manager lets you create and deploy a Mule API proxy that intercepts traffic to a non-Mule API app running on PCF. This lets you use the Mulesoft interface to apply policies over the API and the PCF interface to view usage and policy metrics. See [Deploy a Proxy](https://docs.mulesoft.com/api-manager/setting-up-an-api-proxy).


### <a id='sb'></a> What is a Service Broker?

A Service Broker allows Cloud Foundry applications to bind to services and interact with them easily from the UI or the command line. The **Anypoint Platform Service Brokers for PCF** tile lets PCF apps use one or more Anypoint Platform accounts. The tile deploys as a Java app on PCF and exposes the Anypoint Runtime Manager and Anypoint API Manager as brokered services on the Cloud Foundry Marketplace. PCF developers can then create instances of these services and bind them to their applications either from the Pivotal Apps Manager Console or from the command line. This simplifies the installation and  use of the Anypoint Platform with PCF apps.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Mulesoft Anypoint Platform Service Brokers for PCF Details:</dt>
<dd><strong>Version</strong>: 1.5.0-beta </dd>
<dd><strong>Release Date</strong>: October 14, 2016</dd>
<dd><strong>Software component version</strong>: Anypoint Platform On-Premises Edition 1.5</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7.x</dd>
<dd><strong>vSphere support?</strong> No</dd>
<dd><strong>OpenStack support?</strong> No</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements


To install and run the Anypoint Platform for PCF, you need the following:

* PCF Ops Manager 1.7.x or later
* PCF Apps Manager 1.7.x or later
* [Cloud Foundry Command Line Interface (cf CLI)](http://docs.pivotal.io/pivotalcf/cf-cli/install-go-cli.html)
* Python 2.x or later
* Anypoint Platform On-Premises Edition (a licensed account)
* The default [Java buildpack](https://network.pivotal.io/products/buildpacks) for PCF

### Network Requirements

Your Anypoint Platform On-Premises Edition must be installed on the same  network that your Anypoint Platform for PCF runs on, in order for the two to communicate with each other.

##<a id='update'></a> Upgrading to the Latest Version

Service brokers are enabled by default and market place will show all the installed services and plans.
To upgrade or downgrade the tile version, follow [PCF’s documentation]. This process requires some downtime.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [MuleSoft support](mailto:support@mulesoft.com).

## <a id='license'></a>License

The product is based upon Anypoint Platform On-Premises Edition, so a license specifically for this version of the product is required. Contact [MuleSoft sales](mailto:sales@mulesoft.com).
