---
title: Installing Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

This topic describes how to install the Anypoint Platform Service Brokers for PCF tile. Installing the tile is one step in workflow for installing the Anypoint Platform for PCF. See [Workflow: Install, Configure, and Use Anypoint Platform for PCF](https://docs.mulesoft.com/anypoint-platform-pcf/v/1.5/pcf-workflow). 

## <a id="prereq"></a> Verify Prerequisites

Before installing the Anypoint Platform Service Brokers for PCF tile ensure that you have completed the prerequisite tasks outlined in this section.

###<a id='third-party'></a> Install Required Third-party Tiles

Before installing Anypoint Platform Service Brokers for PCF, you must install and configure the following third-party tiles. Ensure that you install the version of these tiles that corresponds to the version of your PCF installation:

* Redis for PCF, [version 1.5](http://docs.pivotal.io/redis/1-5/index.html)

* Rabbit MQ for PCF, [version 1.6](http://docs.pivotal.io/rabbitmq-cf/1-6/index.html) or [version 1.7](http://docs.pivotal.io/rabbitmq-cf/1-7/index.html)

###<a id='SSL-cert'></a>Add SSL Certificates to Rabbit MQ and Ops Manager Director

If you are using SSL to encrypt communications between Rabbit MQ the PCF Metering application, you must add your SSL certificate to the Rabbit MQ and Ops Manager Director tiles. 

You must add these certificates before installing the Anypoint Platform Service Brokers for PCF tile.

###<a id='license'></a>Obtain Your muleLicenseKey.lic File</a>

To configure the Anypoint Platform Service Brokers for PCF tile, you must provide a `muleLicenseKey.lic` file. To obtain this file:

1. In a browser, navigate to the Mule License Verifier at: [https://mulelicenseverifier.cloudhub.io](https://mulelicenseverifier.cloudhub.io).
1. Upload the MuleSoft Runtime license (.lic) file obtained during your customer onboarding process.
1. Click **Verify**.
1. Download the updated license by clicking **Download digested license**. 

This downloads the `muleLicenseKey.lic` file to your local system. Use the contents of this license file later when configuring the tile.

###<a id='creds'></a> Retrieve Your Anypoint Platform Credentials

To configure the Anypoint Platform Service Brokers for PCF tile, you must have credentials for your [Anypoint Platform organization](https://docs.mulesoft.com/access-management/organization) . To obtain your credentials:

1. Log in to the Anypoint Platform as an admin user.
1. Navigate to **Access Management** > **Organization**.
1. Open the settings for your master organization and record the values for `clientId`, `clientSecret`, `orgId`. 

Use these values later when configuring the tile.


## <a id="install"></a> Install the Anypoint Platform Service Brokers for PCF Tile

To install the Anypoint Platform Service Brokers for PCF tile, perform the following:

1. Download the product file from the [Pivotal Network](https://network.pivotal.io/products/mulesoft-anypoint) or contact your MuleSoft account representative.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. To add the tile to your staging area, click **Add** next to the Anypoint Platform Service Brokers for PCF tile in the Ops Manager **Available Products** view.

1. To configure the tile, click the **Anypoint Platform Service Brokers for PCF** tile. 

1. Configure the tile following the procedures in [Configure the Tile in Ops Manager](./configuring.html). After finishing these procedures, continue to the next step to apply your changes

1. After finishing the tile configuration, click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Anypoint Platform Service Brokers for PCF tile.

## <a id="post-install"></a> Perform Post Installation Steps 

After installing and configuring the Anypoint Platform Service Brokers for PCF tile, return to [Workflow: Install, Configure, and Use Anypoint Platform for PCF](https://docs.mulesoft.com/anypoint-platform-pcf/v/1.5/pcf-workflow) to continue installing Anypoint Platform for PCF.
