---
title: Anypoint Platform for PCF Release Notes
owner: MuleSoft
---

## <a id="1.5.1"></a> 1.5.1.0

**Release Date:** March, 2017

**Features**:

This version introduces features that enable you to:

* Specify usage limits for development, production and staging environments from Ops Manager.
* Collect and view usage metrics for Mule applications running on PCF.

## <a id="1.0"></a>  1.5

**Release Date:** 14 October, 2016

**Features**: 

This version introduces features that enable you to:

* Deploy Mule applications to PCF using the Runtime Manager UI.
* Create and deploy a Mule proxy application to PCF. The Mule proxy intercepts traffic to non-Mule application, enabling you to apply policies and view usage metrics. This feature is currently only available via the command line.
