---
title: Anypoint Platform for PCF Release Notes
owner: MuleSoft
---

These release notes are specific to the Anypoint Platform for PCF tile. See [Anypoint Platform for PCF Release Notes](https://docs.mulesoft.com/release-notes/anypoint-platform-pcf-release-notes) for the platform release notes..

## <a id="1.5.3"></a> v1.5.3.0

**Release Date:** October 15, 2018

Update stemcell to latest available version.

## <a id="1.5.2"></a> v1.5.2.0

**Release Date:** April 24, 2017

**Features**:

This version adds the following features:

* Support for SSL on connections between the PCF Metering application and RabbitMQ.
* Ability to specify unlimited API connections.

## <a id="1.5.1"></a> v1.5.1.0

**Release Date:** March, 2017

**Features**:

This version enables you to:

* Specify usage limits for development, production and staging environments from Ops Manager.
* Collect and view usage metrics for Mule applications running on PCF.

## <a id="1.0"></a>  v1.5.0 (Beta)

**Release Date:** October 14, 2016

**Features**: 

This version enables you to:

* Deploy Mule applications to PCF using the Runtime Manager UI.
* Create and deploy a Mule proxy application to PCF. The Mule proxy intercepts traffic to non-Mule application, enabling you to apply policies and view usage metrics. This feature is currently only available via the command line.
