---
title: Anypoint Platform for PCF Release Notes
owner: MuleSoft
---


## <a id="10"></a>  1.0

**Release Date:** 14 October, 2016

**Features**: 

* Deploy Mule applications to PCF via the Runtime Manager UI.
* Automatically create and deploy a Mule proxy application to PCF, which intercepts traffic to a non-Mule application, allowing you to apply policies over it and view usage metrics. This functionality is currently only available via the command line.
