---
title: Anypoint Platform Service Brokers for PCF
owner: MuleSoft
---

This topic describes how to use Anypoint Platform Service Brokers for PCF

##<a id='using'></a> Using Anypoint Platform Service Brokers for PCF


* For deploying Mule applications to PCF via the Runtime Manager UI, see [Deploying to PCF](https://docs.mulesoft.com/runtime-manager/deploying-to-pcf).
* For automatically creating and deploying a Mule proxy application to PCF, see [Deploy a Proxy to PCF](https://docs.mulesoft.com/api-manager/setting-up-an-api-proxy#to-pivotal-cloud-foundry)
